.transactionHistory {
  width: 100%;
}

thead {
  background-color: #4687c9;
  color: #ffffff;
  box-shadow: 3px 3px 6px 0px #4687c9;
}

tr {
  text-align: center;
  height: 45px;
}

tr:nth-child(2n) {
  background-color: #f1f1f1;
}
